:root {
    --wrapper-width: 500px;
    --wrapper-height: 500px;
    --grid-container-width: 450px;
    --grid-container-height: 450px;
}

* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    height: 100vh;
    background-color: rgb(44, 44, 44);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

.right-container {
    background-color: aliceblue;
    border: 4px solid black;
    width: var(--wrapper-width);
    height: var(--wrapper-height);
    margin-right: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-container {
    background-color: rgb(143, 143, 143);
    border: 4px solid black;
    width: var(--wrapper-width);
    height: var(--wrapper-height);
    margin-left: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

.title {
    margin-top: 25px;
    font-size: 3em;
    text-decoration: underline;
}

.grid-squares {
    width: var(--grid-container-width);
    height: var(--grid-container-height);
    border: 1px solid black;
    display: flex;
    align-content: stretch;
    flex-wrap: wrap;
}

.grid-squares > .break {
    flex-basis: 100%;
    height: 0;
}

.options {
    width: 400px;
    height: 300px;
    font-size: 1.5em;
    /* border: 1px solid red; */
}

.options-title {
    font-weight: bold;
    margin-bottom: 20px;
}

.input-gridNumber{
    margin-bottom: 15px;
}

.input-color, .input-gridNumber {
    display: flex;
    align-items: center;
    gap: 10px;
}

#gridNumber {
    width: 3em;
    text-align: center;
    background-color: aliceblue;
    border: 3px outset black;
    font-size: 0.90em;
}

#gridNumber:active {
    border-style: inset;
}

#color {
    width: 3em;
    height: 1.25em;
}